
<ion-view view-title="Agregar">
  <ion-content class="padding">
    
	<form name="agregarForm" novalidate>
	<div class="list">
	<label class="item item-input">
  	<span class="input-label">Origen</span>
  	<input type="text" name="origen" ng-model="lugar.origen" required>
   </label>
   
   <label class="item item-input">
  	<span class="input-label">Destino</span>
  	<input type="text" name="destino" ng-model="lugar.destino" required>
   </label>
   
   <label class="item item-input">
  	<span class="input-label">Fecha Inicio</span>
  	<input type="tel" name="fechainicio" ng-model="lugar.fechainicio" required>
   </label>
   
   <label class="item item-input">
  	<span class="input-label">Fecha Regreso</span>
  	<input type="text" name="fecharegreso" ng-model="lugar.fecharegreso" required>
   </label>
   <label class="item item-input">
  	<span class="input-label">Num personas</span>
  	<input type="text" name="numpersonas" ng-model="lugar.numpersonas" required>
   </label>
   
   <label class="item item-input">
  	<span class="input-label">costo</span>
  	<input type="text" name="costo" ng-model="lugar.costo" required>
   </label>
   </div>
   
   <div class="padding">
    	<p ng-show="agregarForm.origen.$error.required">Escriba el lugar de origen</p>
    	<p ng-show="agregarForm.destino.$error.required">Escriba su destino</p>
    	<p ng-show="agregarForm.Fechainicio.$error.required">Escriba fecha de inicio</p>
    	<p ng-show="agregarForm.Fecharegreso.$error.required">Escriba fecha de regreso</p>
    	<p ng-show="agregarForm.numpersonas.$error.required">Escriba el numero de personas</p>
    	<p ng-show="agregarForm.costo.$error.required">Costos</p>
    	<p>{{ statusMessage }}</p>
	</div>
   
   <button type="button" class="button icon-left ion-compose button-positive" ng-disabled="agregarForm.$invalid" ng-click="guardar(persona)">
  	Guardar
   </button>
   
   </form>
    
  </ion-content>
</ion-view>
